#header {
    position: inherit;
    height: 50px;
    width: inherit;
    text-align: center;
    display: block;
}

#homepage{
}

#left {
    position: fixed;
    color: red;
    width: 185px;
    float: right;
    text-align: center;
    height: 900px;
}

#right {
    position: relative;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 200px;
}

#footer {
    text-align: center;
}

#우승 {
    color: red;
    font-size: 20dp;
}

td {
    text-align: right;
}

#준비중 {
    color: red;
}
