#left {
    background-color: dimgray;
    position:fixed;
    color:red;
    width: 185px;
    float: right;
    text-align: center;
    height: 900px;
    margin: 0 auto;
}

#right {
    text-align: center;
    margin-left: 200px;
    background-image: url(/image/background.jpg);
    height:900px;
}

#main {
}

#우승 {
    color:red;
    font-size: 20dp;
}

td {
    text-align: right;
}

#준비중 {
    color:red;
}